<div class="container">
    <h1>Tela de usuario</h1>
    <form #forma = "ngForm">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="id">Id</label>
                <input class="form-control" [(ngModel)]="usuario.id" type="text" name="id" id="id" readonly="true" autocomplete="false" required="false">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="nome">Nome</label>
                 <span *ngIf="nome.invalid" style="font-size:23px; color:red">*</span>
                <input #nome="ngModel" class="form-control" [(ngModel)]="usuario.nome" type="text" name="nome" id="nome" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="login">Email</label>
                <span *ngIf="email.invalid" style="font-size:23px; color:red">*</span>
                <input #email="ngModel" class="form-control" [(ngModel)]="usuario.login" type="email" name="login" id="login" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="profissao">Profissao</label>
                <select name="profissao" [(ngModel)]="usuario.profissao.id" id="profissao" class="form-control" required>
                <option [ngValue]="p.id" *ngFor="let p of profissoes">{{p.descricao}}</option>
                </select>
            </div>
             <div class="form-group col-md-6">
                <label for="salario">Salario</label>
                <input currencyMask [options]="{prefix:'R$:',thousands:'.',decimal:','}" type="text" name="salario" [(ngModel)]="usuario.salario" id="salario" class="form-control" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="senha">Senha</label>
                <span *ngIf="senha.invalid" style="font-size:23px; color:red">*</span>
                <input #senha="ngModel" class="form-control" [(ngModel)]="usuario.senha" type="password" name="senha" id="senha" required>
            </div>
            <div class="form-group col-md-6">
                <label for="consenha">Confirma Senha</label>
                <span *ngIf="senha.invalid" style="font-size:23px; color:red">*</span>
                <input  [(ngModel)]="usuario.senha" class="form-control" type="password" name="consenha" id="consenha" required>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cpf">Cpf</label>
                <span *ngIf="cpf.invalid" style="font-size:23px; color:red">*</span>
                <input #cpf="ngModel" mask=" 000.000.000-00"  [(ngModel)]="usuario.cpf" class="form-control" type="text" name="cpf" id="cpf" required>
            </div>
            <div class="form-group col-md-6">
            <span *ngIf="data" style="font-size:23px; color:red">*</span>
                <label for="data">Data de Nascimento</label>
                <div class="input-group">
                    <input class="form-control" type="text" #data="ngbDatepicker" placeholder="dd/mm/yyyy" ngbDatepicker name="dataNascimento" id="data" [(ngModel)]="usuario.dataNascimento" required="true">
                    <div class="input-group-append">
                        <button class="btn btn-primary"(click)="data.toggle()"></button>
                    </div>
                </div>
            </div>
        </div>
    <h1>Telefones </h1>
        
        <div class="form-group">
            <label for="telefone">Telefone:</label>
            <input class="form-control" mask="(00) 0 0000-0000" [(ngModel)]="telefone.numero" type="text" name="numero" id="telefone">
            <button (click)="addFone()" class="btn btn-success">Adicionar</button>
        </div>
    <table class="table">
        <thead class="thead-dark">
            <th scope="col">id</th>
            <th scope="col">numero</th>
            <th scope="col">deletar</th>
        </thead>
        <tbody>
            <tr *ngFor="let fone of usuario.telefones;let i = index">
                <td>{{fone.id}}</td>
                <td>{{fone.numero | mask:'(00) 0 0000-0000'}}</td>
                <td><button (click) = "deleteTelefone(fone.id,i)" class="btn btn-danger">Deleta</button></td>
            </tr>
        </tbody>
    </table>
    <div class="form-row">
            <div class="form-group col-md-1">
                <button type="button" (click) = "salvarUsuario()" class="btn btn-success" >Enviar</button>
            </div>
            <div class="form-group col-md-1">
                <button class="btn btn-danger"  [routerLink]="['/usuario/list']" routerLinkActive="router-link-active" >Cancelar</button>
            </div>
        </div>
    </form>
</div>
